@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Movies</th>
                <th> Genre</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Edit", "Movies", new {id = item.Id}, null) 
                </td>
                <td>@item.Genre.Name </td>
            </tr>
        }
    </table>
}
else
{
    <h2>We dont have any Movies Yet</h2>
}

