@model  IEnumerable<Vidly.Models.Customer>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th> Customers</th>
            <th> Membership Type</th>
        </tr>
        </thead>
        @foreach (var Customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Customer.Name, "Details", "Customers", new {id = Customer.Id}, null)
                </td>
                <td>
                    @Customer.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>We dont have any Customer Yet</h2> 
}





